<div class="container">
	<div class="row">
		<h2>My Choices!!</h2>
		<div class="col-lg-5">
		
			<div ng-if="info.error">
				Not Signed Up Yet. <a ui-sref="signupform">Sign up Now!</a>
			</div>
		
			<div ng-if="info.userInfo">
				FirstName : {{userInfo.firstname}}
				<br/><br/>
				LastName : {{userInfo.lastname}}
				<br/><br/>
				Email : {{userInfo.email}}
				<br/><br/>
				Phone : {{userInfo.phone}}
				<br/><br/>
				Favourite Dish : {{userInfo.dish}}
			</div>
			
			
		</div>
	</div>
</div>