<div class="container">
	<div class="row">
		<h2>Sign Up For Our Newsletter Now!!</h2>
		<div class="col-lg-5">
			<form name='registration' novalidate>
				<div class="form-group">
					<label for="firstname">First Name</label>
					<input class="form-control" placeholder="Please enter your first name" type="text" name="firstname" required minlength="1" ng-maxlength="20" ng-model="signing.firstname">
					<span ng-if="(registration.firstname.$error.minlength || registration.firstname.$error.required) && registration.firstname.$touched">
						First Name must be at least 1 character long
					</span>
					<span ng-if="registration.firstname.$error.maxlength && registration.firstname.$touched">
						First Name must not be longer than 20 characters
					</span>
				</div>
				<div class="form-group">
					<label for="lastname">Last Name</label>
					<input class="form-control" placeholder="Please enter your last name" type="text" name="lastname" required minlength="1" ng-maxlength="20" ng-model="signing.lastname">
					<span ng-if="(registration.lastname.$error.minlength || registration.lastname.$error.required) && registration.lastname.$touched">
						Last Name must be at least 1 character long
					</span>
					<span ng-if="registration.lastname.$error.maxlength && registration.lastname.$touched">
						Last Name must not be longer than 20 characters
					</span>
				</div>
				<div class="form-group">
					<label for="email">Email Address</label>
					<input class="form-control" placeholder="Please enter your email address" type="email"  name="email" required ng-model="signing.email">
					<span ng-if="registration.email.$invalid && registration.email.$touched">
						Must be a valid email address: handle@domain format
					</span>
				</div>
				
				<div class="form-group">
					<label for="phone">Phone Number</label>
					<input class="form-control" placeholder="Please enter your phone number" type="text" name="phone"  pattern="(\d{3})-(\d{3})-(\d{4})" ng-model="signing.phone">
					<span ng-if="registration.phone.$invalid && registration.phone.$touched">
						Phone must be in the format ###-###-####.
					</span>
				</div>
				<div class="form-group">
					<label for="dish">Favourite Dish</label>
					<input class="form-control" placeholder="Please enter your favourite menu number" type="text" name="dish">
				</div>
				
				<button ng-disabled="registration.$invalid" ng-click="signing.submit()">Submit</button>
		
			</form>
		</div>
	</div>
</div>