<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
	<head>
		<meta charset="utf-8">
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
		<title></title>
	</head>
	<body ng-controller='NarrowItDownController as narrow'>
		<div>
			<input type="text" ng-model="narrow.searchDesc">
			<button ng-click="narrow.getMenuItems()">Narrow It Down For Me!</button>
			<found-items get-list="narrow.found" remove-item="narrow.removeAs(index)"></found-items>
			<!--<ul>
				<li ng-repeat="items in narrow.found">
					{{items.name}}, {{items.short_name}}, {{items.description}} <button>Don't want this one!</button>
					<br /><br />
				</li>
			</ul>-->
			
		</div>
	</body>

</html>